---
import Header from '../components/Header.astro';
import collectionData from '../data/collection.json'; // データを読み込む
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Collection | Tomohiro Ogawa</title>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans+JP:wght@300;400;600&display=swap" rel="stylesheet">

		<style>
			* { box-sizing: border-box; }
			html { scrollbar-gutter: stable; }
			body {
				font-family: "IBM Plex Sans JP", sans-serif;
				font-weight: 400;
				font-feature-settings: "palt";
				background-color: #fff;
				color: #111;
				margin: 0;
				display: flex;
				justify-content: center;
				min-height: 100vh;
			}
			.grid-container {
				width: 100%;
				max-width: 720px;
				padding: 6rem 2rem;
				display: flex;
				flex-direction: column;
			}

			.masonry-grid {
				column-count: 2;
				column-gap: 3rem;
				width: 100%;
			}

			.grid-item {
				break-inside: avoid;
				margin-bottom: 3rem;
			}

			.grid-item a {
				display: block;
				transition: opacity 0.2s;
				cursor: zoom-in; /* カーソルを「拡大鏡」にする */
			}
			.grid-item a:hover {
				opacity: 0.8;
			}

			.grid-item img {
				width: 100%;
				height: auto;
				display: block;
			}
		</style>
	</head>
	<body>
		<div class="grid-container">
			<Header activeNav="collection" />
            
            <main class="masonry-grid">
                {collectionData.map((item) => (
                    <div class="grid-item">
                        <a href={`/collection/${item.id}`}>
                            <img src={item.image} alt={item.title} loading="lazy" />
                        </a>
                    </div>
                ))}
            </main>
		</div>
	</body>
</html>